
body {
	margin:auto;
	padding:0;
	width:75%;
}

header {
	/*background-color: lightgrey;*/
	/*border-bottom:solid 3px lightblue;*/
	padding: 30px 30px 30px 25px;

}

header ul li {
	display:inline-block;
	/*padding-left:15px;
	padding-right: 20px;*/
	margin-left:15px;
	margin-right:15px;
	position: relative;
	/*width:120px;*/
	text-align: center;
	/*height:10px;*/
}


.left header ul li a {
	/*width:120px;*/
}

.right header ul li a {
	/*width:70px;*/
}

.left a {
	color:red; 
	display:block;
}

.right a {
	width:45px;
}

header a:hover {
	text-decoration:none;
	/*transform:scale(1.1);*/
	background-color:rgba(255,255,0,0.5);
  	box-shadow: 0px 0px 10px yellow;
  	/*font-weight:bold; */
	/*background-color: yellow;*/
	/*border-radius: 40%;*/
}

.nav-ul a {
	/*transform:translateY(-50%);*/
	display:block;
}

.nav-ul li:hover {
  	/*content:'';
  	position:absolute;
  	top:50%;
  	left:0;
  	width:100%;
  	border-bottom: 10px solid yellow;
  	z-index: -1;*/
  	/*background-color:rgba(255,255,0,0.5);*/
  	/*-moz-border-radius:10px 10px 10px 10px;
	-moz-box-shadow:0 0 10px;*/
}

/*header .left {
	background-color: pink;
	padding: 30px 30px 30px 0;
}

header .right {
	background-color: thistle;
	padding: 30px 0 30px 30px;
}*/



.ham {
	/*padding-left:-60px;*/
	display:flex;
	align-items: center;
}

.ham ul li:first-child {
	margin-right: 57px;
}


/*.hamburger {
	width:35px;
	display:none;
	cursor:pointer;
	padding-bottom: 15px;
}

.hamburger div {
	height:3px;
	background-color:red;
	margin:8px 0;
}*/

.hamburger {
  width:35px;
  display:none;
  cursor:pointer;
  padding-bottom: 15px;
  position: relative;
}

.hamburger div {
  margin: 9px 0;
  height:3px;
  width: 100%;
  background-color:red;
  border-radius: 5px;
  opacity: 1;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  transform-origin: left center;
}

.hamburger.open div:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.open div:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburger.open div:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

h2 {
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Raleway', sans-serif;
	font-size:35px;
    font-weight: 700;
    padding-top: 100px;
}

i {
	font-family: 'FontAwesome';
	font-style: normal;
	font-size:30px;
	color: red;
}

p {
	margin-bottom: 0;
}

.add-info {
	font-style: italic;
	font-size: 12px;
}

.intro {
	padding-left: 82px;
}


.intro p {
    font-family: 'PT Sans', sans-serif;
    font-size:30px;
    padding-bottom: 50px;
}


.fa-chevron-left, .fa-chevron-right {
	font-size: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50px;
	z-index: 999;
	color: rgba(0,0,0,0.6);
}

.fa-chevron-right {
	left:auto;
	right: 50px;
}

.slick-dots {
	padding: 0;
	text-align: center;
	position: absolute;
	bottom:0;
	width:100%;
}

.slick-dots li {
	display: inline-block;
	height: 15px;
	width: 15px;
	background-color: rgba(0,0,0,0.5);
	border-radius:50%;
	margin:0 10px;
	border: solid 1px #fff;
}

.slick-dots li.slick-active {
	background-color: rgba(0,0,0,1);
}

.slick-dots button {
	display:none;
}

.sidebar {
	width:200px;
	padding-top:6px;
}

.sidebar ul li {
	list-style: none;
	padding-bottom: 10px;
	/*text-align: right;*/
}

.sidebar a {
	color:red;
}

.sidebar a:hover {
	text-decoration:none;
	background-color:rgba(255,255,0,0.5);
  	box-shadow: 0px 0px 10px yellow;
}

/* used this class for extra margin on sidebar in projects.html */
.extra-margin {
	margin-right: 20px;
}

.content {
	/*width:800px;*/
}

.content ul li {
	list-style: none;
	width:800px;
}

.read-more {
	text-align:right;
	font-style: italic;
	/*padding-right: 50px;*/
}

.fa-arrow-circle-right {
	font-size: 15px;
}

.read-more a {
	color:red;
	text-decoration: none;
}

img {
	padding-bottom: 20px;
	max-width: 100%;
	padding-right:5px;
}

.projects-img {
	/*max-width: 55%;*/
	display: flex;
}

.projects-padding {
	width:740px;
	padding-left: 5px;
}

input[type="name"],
input[type="tel"],
input[type="email"],
textarea, select {
  width:100%;
  margin-bottom:8px;
}

.message {
	padding-top:20px;
}

a {
	color:red;
}



.line {
  	background:red;
  	height:2px;
  	max-width:130px;
  	/*box-shadow: 3px 0px 10px black;
  	margin:0 auto;*/
}

.RT {
	padding-top: 5px;
}

footer {
	/*background-color: lightgrey;*/
	margin-top: 10px;
	color:red;
	padding:10px;
	padding-left: 40px;
}

footer a:hover {
	color:red;
	text-decoration:none;
	/*position: relative;*/
	background-color:rgb(255,255,0,0.6);
	box-shadow: 0px 0px 10px yellow;
}

/*footer a:hover:after {
  	content:'';
  	position:absolute;
  	top:50%;
  	left:0;
  	width:100%;
  	border-bottom: 10px solid yellow;
  	z-index: -1;*/

/*@media screen and (max-width: 480px) {
	.carousel img {
		height: 300px;
	}575px
}*/

/*iphone 6/7/8 and X*/
@media (max-width: 575px) {
	body {
	margin:auto;
	padding:0;
	width:100%;
	}
	header {
		padding:30px 10px 30px 30px;
	}
	header ul li {
		margin-left:5px;
		margin-right:5px;
	}
	.main-header nav {
		/*display:none;*/
		/*background-color: green;*/
		position:fixed;
		/*top:116px;*/
		left:calc(-100% - 15px);
		padding: 20px 15px 20px 0;
		width:calc(100% + 15px);
		/*transform: translateX(-100%);*/
		transition: transform 0.4s;		
	}

	.main-header nav.active {
		transform: translateX(100%);
	}
	/*.main-header ul li {
		display:block;
		font-size:20px;
	}*/
	.active .nav-ul {
		display:flex;
		flex-direction:column;
		background-color: rgba(235, 236, 240,1);
		padding:10px 0 15px 15px;
		width:150px;
		font-size:20px;
		border-top: solid 1px lightgrey;
		border-right: solid 2px lightgrey;	
		box-shadow: 1px 2px lightgrey;
		height:100vh;		
	}
	.active .nav-ul li {
		margin-left: 10px;
		text-align: left;
	}
	.hamburger {
		display:block;
	}
	.right {
		margin-right:54px;
	}
	.intro {
		padding-left:40px;
	}
	.intro h2 {
		font-size: 30px;
		padding-top: 70px;
	}
	.container .intro p {
		font-size: 25px;
	}
	.gallery {
		padding-bottom: 25px;
	}
	.carousel {
		z-index:-1;
	}
	.sidebar {
		padding-top:0;
	}
	.sidebar ul {
		padding-left:20px;
		padding-top:6px;
	}
	.projects-padding {
		padding: 0 15px 0 0;
		width:100%;
	}
	.projects-img {
		max-width: 100%;
		display: flex;
	}
	iframe {
		width:240px;
		height:135px;
	}
	video {
		width:240px;
		height:135px;		
	}
	input[type="name"],
	input[type="tel"],
	input[type="email"],
	textarea, select {
  		width:93%;
  		margin-bottom:8px;
	}
	.message {
		padding-top:20px;
	}
	footer {
		position: relative;
    	bottom: 0;
    	width: 100%;
    	min-width: 100%;
    	display: block;
    	padding-left: 10px;
    	/*z-index: -1;*/
	}
}

/*iphone 6/7/8 plus, pixel 2 & 2XL*/
@media (width: 414px), (width: 411px) {
	header {
		padding:30px 50px 30px 30px;
	}
	.intro {
		padding-left:60px;
	}
	footer {
		position: relative;
		bottom:0;
	}
}

/*iphone 5/SE*/
@media (width: 320px) {
	header {
		padding:30px 0 30px 15px;
	}
	.right.col-md-12 {
		margin-right:0;
		padding:0;
		width:200px;
	}
	.intro {
		padding-left:60px;
	}
	.sidebar ul {
		padding-top:0;
	}	
	iframe {
		width:170px;
		height:95px;
	}
	video {
		width:170px;
		height:95px;
	}
	footer {
		position: relative;
		bottom:0;
	}
}

/*galaxy s3, note 2-3*/
@media (width: 360px) {
	header {
		padding:30px 5px 30px 35px;
	}
	.right.col-md-12 {
		margin-right:0;
		width:250px;
	}
	.intro {
		padding-left:60px;
	}
	iframe {
		width:200px;
		height:112px;
	}
	video {
		width:200px;
		height:112px;
	}
	footer {
		position: relative;
		bottom:0;
	}
}

/*ipad portrait*/
@media (width: 768px) {
	body {
		margin: 0;
		width:700px;		
	}
	header ul li {
		margin-right:0;
		margin-left:0;
		padding-right:15px;
	}
	header ul li:first-child {
		padding-left:28px;
	}
	header ul li:nth-child(2) {
		padding-left:15px;
	}
	.left.col-md-12 {
		padding: 0;
		width: 510px;
	}
	.right.col-md-12 {
		padding:0;
		width: 220px;
	}
	.right li:nth-child(2) {
		padding-left:0;
	}
	.ham ul li:first-child {
		margin-right:0;
	}
	.content .projects-padding {
		width:550px;
	}
	.gallery {
		width:768px;
	}
	footer {
		position: relative;
		bottom:0;
	}
}

/*ipad landscape, ipad pro portrait*/
@media (width: 1024px) {

}

/*samsung note 10: 1080 x 2280 pixels
	with 401 pixels per inch
samsung note 10 viewport: 412 x 869 px, 153 ppi

samsung note 10+: 1440 x 3040 pixels, 498 ppi
samsung note 10+ viewport: 480 x 1013.33 px
*/

/*samsung note 10*/
@media (width: 412px) {
	header {
		padding:30px 50px 30px 30px;
	}
	.intro {
		padding-left:55px;
	}
	iframe {
		width:260px;
		height:146px;
	}
	video {
		width:260px;
		height:146px;
	}
	footer {
		position: relative;
		bottom:0;
	}
}

